In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
df = pd.read_csv("/Users/15840/Desktop/2025Fall/05619/A1/fatal.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7478 entries, 0 to 7477
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   _id                  7478 non-null   int64
 1   death_date_and_time  7478 non-null   object
 2   manner_of_death      7478 non-null   object
 3   age                  7478 non-null   int64
 4   sex                  7478 non-null   object
 5   race                 7474 non-null   object
 6   case_dispo           7478 non-null   object
 7   combined_od1         7478 non-null   object
 8   combined_od2         6053 non-null   object
 9   combined_od3         4088 non-null   object
 10  combined_od4         2207 non-null   object
 11  combined_od5         995 non-null    object
 12  combined_od6         384 non-null    object
 13  combined_od7         160 non-null    object
 14  combined_od8         47 non-null     object
 15  combined_od9         15 non-null     object
 16  combined_od10        1 non-null      object
 17  incident_zip         7254 non-null   object
 18  decedent_zip         0 non-null      float64
 19  case_year            7478 non-null   int64
dtypes: float64(1), int64(3), object(16)
memory usage: 1.1+ MB
None

In [4]:
summary = pd.DataFrame({
    "min": df.min(numeric_only=True),
    "max": df.max(numeric_only=True),
    "zero_count": (df == 0).sum()
})
print(summary)

                            min         max  zero_count
_id                  11567450.0  11574927.0           0
age                         0.0        91.0           5
case_dispo                  NaN         NaN           0
case_year                2007.0      2025.0           0
combined_od1                NaN         NaN           0
combined_od10               NaN         NaN           0
combined_od2                NaN         NaN           0
combined_od3                NaN         NaN           0
combined_od4                NaN         NaN           0
combined_od5                NaN         NaN           0
combined_od6                NaN         NaN           0
combined_od7                NaN         NaN           0
combined_od8                NaN         NaN           0
combined_od9                NaN         NaN           0
death_date_and_time         NaN         NaN           0
decedent_zip                NaN         NaN           0
incident_zip                NaN         NaN           0
manner_of_death             NaN         NaN           0
race                        NaN         NaN           0
sex                         NaN         NaN           0

In [25]:
df["sex"].value_counts(dropna=False)

sex
M    5151
F    2327
Name: count, dtype: int64

In [8]:
df["race"].value_counts(dropna=False)

race
W      5927
B      1461
H        43
O        17
A        13
I         5
NaN       4
U         4
M         4
Name: count, dtype: int64

In [9]:
df["manner_of_death"].value_counts(dropna=False)

manner_of_death
Accident    7478
Name: count, dtype: int64

In [13]:
df["incident_zip"].str.match(r"^\d{5}$").value_counts()
missing_zip = df["incident_zip"].isna().sum()
valid_mask = df["incident_zip"].astype(str).str.match(r"^\d{5}$")
invalid_zips = df.loc[~valid_mask & df["incident_zip"].notna(), "incident_zip"].unique()
print(invalid_zips)

['1531' '1547' 'ooc' '15-71' '1522']

In [16]:
df["death_date_and_time"] = pd.to_datetime(df["death_date_and_time"], errors="coerce")
mismatch = df[df["death_date_and_time"].dt.year != df["case_year"]]
print(mismatch)

           _id death_date_and_time manner_of_death  age sex race case_dispo  \
3698  11571148 2021-01-01 00:55:00        Accident   36   F    W         MO
5048  11572498 2022-01-01 05:59:00        Accident   48   M    W         MO

     combined_od1     combined_od2         combined_od3 combined_od4  \
3698     Fentanyl  Methamphetamine              Cocaine          NaN
5048      Cocaine         Fentanyl  Para-Fluorofentanyl          NaN

     combined_od5 combined_od6 combined_od7 combined_od8 combined_od9  \
3698          NaN          NaN          NaN          NaN          NaN
5048          NaN          NaN          NaN          NaN          NaN

     combined_od10 incident_zip  decedent_zip  case_year
3698           NaN        15211           NaN       2020
5048           NaN        15212           NaN       2021

In [19]:
keep_cols = ["_id", "age", "incident_zip", "case_year", "death_date_and_time"]
df_new = df[keep_cols]

In [27]:
df_new = df_new[df_new["incident_zip"].astype(str).str.match(r"^\d{5}$")]

out_path = "/Users/15840/Desktop/2025Fall/05619/A1/fatal_selected.csv"
df_new.to_csv(out_path, index=False)

In [24]:
print(df_new.info())

<class 'pandas.core.frame.DataFrame'>
Index: 7249 entries, 0 to 7477
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   _id                  7249 non-null   int64
 1   age                  7249 non-null   int64
 2   incident_zip         7249 non-null   object
 3   case_year            7249 non-null   int64
 4   death_date_and_time  7249 non-null   datetime64[ns]
 5   incident_zip_clean   7249 non-null   object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 396.4+ KB
None